<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>one</title>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <!-- <script src="vue.js"></script> -->
</head>
<body>

    <!-- 声明式渲染 -->
    <!-- sample-1 -->
    <div>Hello World1非常nice</div>
    <div id="one">{{message}}{{abc}}</div>
    <script>
        let a=new Vue({
            el:'#one',
            data:{
                message:'Hello World',
                abc:'非常nice'
            }
        })  
        a.message=a.message+1
    </script>

    <!-- sample-2 -->
    <div style="color: red;">这是一个测试</div>
    <div id="two" v-bind:style='varr'>这是一个测试</div>
    <script>
        let b=new Vue({
            el:'#two',
            data:{
                varr:'color: red;'
            }
        })
    </script>

    <!-- 条件与循环 -->
    <!-- sample-3 -->
    <div id="app-3">
        <p v-if="seen">现在你看到我了</p>
    </div>
    <script>
        var app3 = new Vue({
            el: '#app-3',
            data: {
            seen: true
            // seen改为false,元素不可见
            }
        })
    </script>

    <!-- sample-4 -->
    <div id="app-4">
        <ol>
          <li v-for="todo in todos">
            {{ todo.text }}
          </li>
        </ol>
    </div>
    <script>
        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos: [
                { text: '学习 JavaScript' },
                { text: '学习 Vue' },
                { text: '整个牛项目' },
                { text: '测试' }
                ]
            }
        })
    </script>

    <!-- 处理用户输入 -->
    <!-- sample-5 -->
    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">反转消息</button>
    </div>
    <script>
        var app5 = new Vue({
            el: '#app-5',
            data: {
                message: 'Hello Vue.js!'
            },
            methods: {
                reverseMessage: function () {
                this.message = this.message.split('').reverse().join('')
                }
            }
        })
    </script>

    <!-- sample-6 -->
    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message" type="text">
    </div>
    <script>
        var app6 = new Vue({
            el: '#app-6',
            data: {
                message: 'Hello Vue!'
            }
        })
    </script>

    <!-- 组件化应用构建 -->
    <!-- sample-7 -->
    <div id="c">
        <ol>
            <!-- 创建一个 hello 组件的实例 -->
            <hello></hello>
          </ol>
    </div>
    <script>
        // 定义名为 todo-item 的新组件
        Vue.component('hello', {
        template: '<li>组件测试</li>'
        })

        var app = new Vue({
            el:'#c'
        })
    </script>

    <!-- sample-8 -->
    <div id="app-7">
        <ol>
          <!--
            现在我们为每个 todo-item 提供 todo 对象
            todo 对象是变量，即其内容可以是动态的。
            我们也需要为每个组件提供一个“key”，稍后再
            作详细解释。
          -->
          <todo-item
            v-for="item in groceryList"
            v-bind:todo="item"
            v-bind:key="item.id"
          ></todo-item>
        </ol>
      </div>
    <script>
        Vue.component('todo-item', {
        props: ['todo'],
        template: '<li>{{ todo.text }}</li>'
        })

        var app7 = new Vue({
        el: '#app-7',
        data: {
            groceryList: [
            { id: 0, text: '蔬菜' },
            { id: 1, text: '奶酪' },
            { id: 2, text: '随便其它什么人吃的东西' }
            ]
        }
        })
    </script>

</body>
</html>
